<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- Compiled and minified CSS -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

  		<!-- Compiled and minified JavaScript -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
		<link rel="stylesheet" href="/public/assets/css/burger_style.css" />
		<title>Eat-Da-Burger!</title>
</head>
	<body style="background-image: url(http://ovenandgrill-hexham.com/wp-content/uploads/2015/03/burger.jpg); background-repeat: no-repeat; background-position: right;">
		{{{ body }}}
	</body>
</html>