<h1>Eat-Da-Burger!</h1>

<h2>Burgers to eat:</h2>

<ul>
  {{#each burger}}
    {{#unless this.devoured}}
      <li>
        {{this.}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Devour it!</button>
        </form>

      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers already eaten:</h2>

<ul>
  {{#each burger}}
    {{#if this.devoured}}
      <li>
        {{this.name}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-update-form" action="burgers/create" method="POST">

  <div class="form-group">
    <label for="ba">Burger name:</label>
    <input type="text" id="ba" name="name">
  </div>

  <button type="submit">Submit</button>
</form>